<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1"/>

  <!--fav icon-->
  <link rel="icon" type="image/png" href=" https://cdn.salla.network/images/logo/logo-square.png">
  <link rel="apple-touch-icon-precomposed" href="https://cdn.salla.network/images/logo/logo-square.png">
  <meta name="msapplication-TileColor" content="#BAF3E6">
  <meta name="msapplication-TileImage" content="https://cdn.salla.network/images/logo/logo-square.png">

  <!--theme color-->
  <meta name="theme-color" content="#BAF3E6">
  <meta name="msapplication-navbutton-color" content="#BAF3E6">
  <meta name="apple-mobile-web-app-status-bar-style" content="#BAF3E6">

  <link rel="stylesheet" href="https://cdn.salla.network/fonts/pingarlt.css?v=1.0">
  <link rel="stylesheet" href="https://cdn.salla.network/fonts/sallaicons.css">
  <link rel="stylesheet" href="./app.css">
  <title>متجر تجريبي</title>
</head>
<body class="w-full min-h-screen bg-gray-50 flex flex-col items-start justify-start">
<header class="w-full">
  <div class="container">
    <div class="md:py-6 py-4">
      <div class="flex justify-center flex-col sm:flex-row gap-4 items-center">
        <!-- store logo & title -->
        <div class="flex flex-col items-center gap-4 relative">
          <a href="index.html" class="block w-[80px] h-[80px] bg-gray-50 p-2 rounded-full border-4 border-secondary-50">
            <img src="https://cdn.salla.network/images/logo/logo-square.png" alt="Logo" />
          </a>
          <div class="flex flex-col items-center">
            <h1 class="text-xl text-center">متجر التجربة الجميلة</h1>
            <small class="text-gray-400 text-center">متجرك لكل تجاربك وأفكارك الجميلة</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="w-full main flex-auto">
  <div class="container">
    <div class="p-2 sm:p-4 bg-white rounded-lg shadow-4xl sm:max-w-[700px] mx-auto">
      <div class="flex flex-col text-center items-center justify-center mb-6">
        <h2 class="text-lg">تسجيل الدخول</h2>
        <span class="text-xs text-gray-500">قم بتسجيل الدخول لمتابعة التسوق</span>
      </div>
      <form method="post" action="#" class="flex flex-col w-full">
        <div class="mb-4">
          <label class="block mb-2 text-md" for="username">اسم المستخدم</label>
          <input type="text" name="username" id="username" autocomplete class="w-full p-2 bg-white appearance-none rounded-md border text-md" placeholder="اسم المستخدم.." />
        </div>
        <div class="mb-4">
          <label class="block mb-2 text-md" for="password">كلمة المرور</label>
          <input type="password" name="password" autocomplete id="password" class="w-full p-2 bg-white appearance-none rounded-md border text-md" placeholder="كلمة المرور.." />
        </div>
        <div class="flex gap-4">
          <button type="button" class="w-full bg-primary text-secondary flex-1 p-2 text-md rounded-md">دخول</button>
          <button type="button" class="w-fit text-primary underline p-2 text-md rounded-md">نسيت كلمة المرور؟</button>
        </div>
      </form>
    </div>
  </div>
</main>
<footer class="w-full h-[80px] flex items-center justify-center text-primary bg-secondary-50 mt-4 md:mt-6">
  <p class="text-sm">كافة الحقوق محفوظة لدى: متجر التجربة الجميلة | 2023</p>
</footer>
</body>
<script type="text/javascript" src="./app.js"></script>
</html>