<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=1"/>

  <!--fav icon-->
  <link rel="icon" type="image/png" href=" https://cdn.salla.network/images/logo/logo-square.png">
  <link rel="apple-touch-icon-precomposed" href="https://cdn.salla.network/images/logo/logo-square.png">
  <meta name="msapplication-TileColor" content="#BAF3E6">
  <meta name="msapplication-TileImage" content="https://cdn.salla.network/images/logo/logo-square.png">

  <!--theme color-->
  <meta name="theme-color" content="#BAF3E6">
  <meta name="msapplication-navbutton-color" content="#BAF3E6">
  <meta name="apple-mobile-web-app-status-bar-style" content="#BAF3E6">

  <link rel="stylesheet" href="https://cdn.salla.network/fonts/pingarlt.css?v=1.0">
  <link rel="stylesheet" href="https://cdn.salla.network/fonts/sallaicons.css">
  <link rel="stylesheet" href="./app.css">
  <title>متجر تجريبي</title>
</head>
<body class="w-full min-h-screen bg-gray-50 flex flex-col items-start justify-start">
<header class="w-full">
  <div class="container">
    <div class="md:py-6 py-4">
      <div class="flex justify-between flex-col sm:flex-row gap-4 items-center">
        <!-- store logo & title -->
        <div class="flex flex-col sm:flex-row items-center gap-4 relative">
          <a href="index.html" class="block w-[80px] h-[80px] bg-gray-50 p-2 rounded-full border-4 border-secondary-50">
            <img src="https://cdn.salla.network/images/logo/logo-square.png" alt="Logo" />
          </a>
          <div class="flex flex-col">
            <h1 class="text-xl">متجر التجربة الجميلة</h1>
            <small class="text-gray-400">متجرك لكل تجاربك وأفكارك الجميلة</small>
          </div>
        </div>
        <!-- cart and user -->
        <div class="flex items-center gap-4">
          <a href="login.html" type="button" class="w-[40px] h-[40px] rounded-full text-center flex items-center justify-center bg-secondary-50 text-primary">
            <i class="sicon-user"></i>
          </a>
          <a href="cart.html" type="button" class="w-[40px] h-[40px] rounded-full text-center flex items-center justify-center bg-secondary-50 text-primary">
            <i class="sicon-shopping-bag"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="w-full main flex-auto">
  <div class="container">
    <div class="p-2 sm:p-4 bg-white rounded-lg shadow-4xl">
      <div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-4">
        <!-- images slider goes here -->
        <img src="images/products/01.png" class="w-full aspect-4/3 object-cover rounded-lg mb-8 sm:mb-0" alt="product img" />
        <div class="flex flex-col gap-4 col-span-2">
          <article class="text-sm text-darker-300 leading-[1.8] ">
            <div class="flx flex-col mb-6 gap-2">
              <h1 class="text-xl md:text-3xl">سماعات apple AirPods Max  الاصدار الجديد</h1>
              <small class="text-xs text-gray-500">الاصدار الاحدث و الافضل حتى اليوم</small>
            </div>
            <div class="flex flex-col sm:flex-row w-full my-4 gap-0 sm:gap-2">
              <span class="font-medium text-md">2,250.00 SAR</span>
              <span class="font-medium text-sm line-through text-gray-300">2,500.00 SAR</span>
            </div>
            <p>
              لكن يجب أن أشرح لك كيف ولدت كل هذه الفكرة الخاطئة المتمثلة في إدانة السرور ومدح الألم ، وسأقدم لك وصفًا كاملاً للنظام ، وأشرح التعاليم الفعلية للمستكشف العظيم للحقيقة ، الباني البارع. السعادة البشرية. لا أحد يرفض أو يكره أو يتجنب المتعة نفسها ، لأنها متعة ، ولكن لأن أولئك الذين لا يعرفون كيفية السعي وراء المتعة يواجهون عواقب مؤلمة للغاية. ولا يوجد أيضًا أي شخص يحب أو يسعى أو يرغب في الحصول على الألم من نفسه ، لأنه ألم ، ولكن في بعض الأحيان تحدث ظروف يمكن أن يجلب له فيها الكدح والألم بعض المتعة الكبيرة. لنأخذ مثالا تافها ، أي منا يقوم بتمارين بدنية شاقة ، إلا للحصول على بعض المزايا منها؟ ولكن من له الحق في أن يخطئ في رجل يختار أن يستمتع بسرور ليس له عواقب مزعجة ، أو من يتجنب الألم الذي لا ينتج عنه متعة؟
              من ناحية أخرى ، فإننا نشجب بسخط صالح ونكره الرجال الذين خدعهم سحر اللذة اللحظية وإحباطهم ، وأعمتهم الرغبة ، لدرجة أنهم لا يستطيعون التنبؤ بالألم والمتاعب التي لا بد أن تنجم عن ذلك ؛ واللوم المتساوي يقع على أولئك الذين يفشلون في أداء واجبهم بسبب ضعف الإرادة ، وهو نفس القول من خلال الانكماش من الكد والألم. هذه الحالات بسيطة للغاية وسهلة التمييز. في ساعة مجانية ، عندما تكون قدرتنا على الاختيار غير مقيدة وعندما لا شيء يمنعنا من القيام بما نفضله ، يجب الترحيب بكل متعة وتجنب كل ألم. ولكن في ظروف معينة وبسبب ادعاءات الواجب أو التزامات العمل ، سيحدث في كثير من الأحيان أنه يجب نبذ الملذات وقبول الإزعاج. لذلك يتمسك الرجل الحكيم دائمًا في هذه الأمور بمبدأ الاختيار هذا: فهو يرفض الملذات لتأمين ملذات أعظم أخرى ، وإلا فإنه يتحمل الآلام لتجنب الآلام السيئة
            </p>
          </article>
          <div class="flex items-center justify-center gap-4">
            <div class="flex shrink-0 items-center justify-center p-2 border border-1 border-gray-200 rounded-lg">
              <button class="shrink-0 px-2 text-md text-gray-500">+</button>
              <input type="number" value="1" class="w-[50px] flex-1 text-center appearance-none bg-transparent" />
              <button class="shrink-0 px-2 text-md text-gray-500">-</button>
            </div>
            <button type="button" class="w-full h-[42px] bg-primary text-white flex-1 p-2 text-md rounded-md">إضافة للسلة</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="w-full h-[80px] flex items-center justify-center text-primary bg-secondary-50 mt-4 md:mt-6">
  <p class="text-sm">كافة الحقوق محفوظة لدى: متجر التجربة الجميلة | 2023</p>
</footer>
</body>
<script type="text/javascript" src="./app.js"></script>
</html>